.cont1{
    background: linear-gradient(90deg,#0e3959,#0e3959 30%,#03a9f5 30%,#0e3959 100%);
}

.contactus{
    position: relative;
    width: 100%;
    padding: 40px 100px;
}
.title5{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
.title5 h2{
    color: white;
    font-weight: 500;
}
.box5{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: "form info"
    "form map";
    grid-gap: 20px;
    margin-top: 20px;
}
.form5{
    grid-area: form;
}
.info5{
    grid-area: info;
}
.map5{
    grid-area: map;
}
.contact{
    padding: 40px;
    background: white;
}
.contact h3{
    color: #0e3959;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}
.formbox{
    position: relative;
    width: 80%;
}
.formbox .row50{
    display: flex;
    gap: 20px;
}
.inputbox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}
.row100 .inputbox{
    width: 100%;
}
.inputbox span{
    color: #18b7ff;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
    text-align: left;
}
.inputbox input{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;

}
.inputbox textarea{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}
.submitbtn{
    background-color:#0e3959;
    color: white;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}


.info5{
    background-color: #0e3959;
}
.info5 h3{
    color: white;
}
.infobox div{

    display: flex;
    align-items: center;
    margin-bottom: 10px;

}
.infobox div span{
    min-width: 40px;
    height: 40px;
    color: white;
    background-color: #18b7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right:15px ;
}
.infobox div p{
    color: white;
    font-size: 1.1em;
}
.infobox div a{
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}
.sci{
    margin-top: 40px;
    display: flex;
}
.sci li{
    list-style: none;
    margin-right:15px ;
}
.sci li a{
    color: #ccc;
    font-size: 2em;
    
}
.sci li a:hover{
    color: white;
    
}

.map5{
    padding: 0;
}
.map5 iframe{
    width: 100%;
    height: 100%;
}



@media (max-width:991px) {
    .cont1{
        background: #03a9f5;
    }
    .contactus{
        padding: 20px;
    }
    .box5{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "form"
        "info"
        "map";
        }
        .map5{
            min-height: 300px;
            padding: 0;
        }
        .formbox .row50{
            display: flex;
            gap:0;
            flex-direction: column;
        }
        .inputbox{
            width: 100%;
        }
        .contact{
            padding: 30px;
            width: 100%;
        }
    
}